body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}